<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
    <title>WeatherIO</title>
  </head>
  <body>
    <!-- Navbar -->
    {{>navbar}}
    <!--! Main Body of the page -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="conatiner-fluid main_weather">
      <div class="row pt-5">
        <div class="col-md-10 col-12 mx-auto py-5">
            <form class="form-inline justify-content-center">
                <input id="cityName" class="form-control mr-sm-2 py-3 w-50 display-6" type="search" autocomplete="off" placeholder="Enter your City" aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submitButton" value="Search">
            </form>

            <div class="weather-info mx-auto w-50 d-flex flex-column pt-5">
                <div class="weather-upper mx-auto d-flex flex-row justify-content-between w-50 text-uppercase">
                    <p id="day"class="my-auto p-3">tuesday</p>
                    <p id="date" class="my-auto p-3">12 JAN</p>
                </div>
                <div class="weather-lower mx-auto w-50 border">
                    <p id="city" class="my-auto p-3">Kolkata</p>
                    <div class="weather-middle d-flex flex-row justify-content-between">
                        <p id="temp" class="p-3"><span>0</span>°C</p>
                        <p id="temp_status" class="p-3 pr-4"><i class="fa fa-cloud fa-2xl"></i></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!--! Footer -->
    {{>footer}}
    <script src="js/main.js"></script>
  </body>
</html>
